h1
{
	text-align:center;
	background-color:PeachPuff;
}
p
{
	font-size:20;
	position:static;
	background-color : LightGray;
}
body{
	background-image: url("../background_img/background_ew.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	backdrop-filter: brightness(100%) blur(3px);
	background-color: LightGray;
	
}
.imgjeu{
	width:550px;
}
.imglink{
	width:300px;
}
.bas{
	color:tan;
	position:relative;
	top:45px;
}
.button1{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items:  center;
	position:relative;
	bottom:5px;
}
.btn_accueil{
	position:relative;
	background-color:DodgerBlue;

}
.btn_jeu_suivant{
	position:relative;
	background-color:GRAY;
}
.btn_jeu_précédent{
	position:relative;
	background-color:DodgerBlue;
}
.link{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items:  center;